.badge {
    position: absolute;
    top: 15px;
    right: 185px;
    border-radius: 50%;
    background: red;
    color: white;
    width: 20px;
    padding-left: 5px;
  }
  
  .nhacnho {
    border-radius: 50%;
    background: red;
    color: #fff;
    text-align: center;
    font-size: 11px;
    width: 20px;
    height: 20px;
    padding-top: 5px;
  }