<div class="container-fluid p-0">
    <div class="card">
        <div class="card-header p-6">
            <div class="h5 m-0 d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512">
                    <path
                        d="M64 32C64 14.3 49.7 0 32 0S0 14.3 0 32v96V384c0 35.3 28.7 64 64 64H256V384H64V160H256V96H64V32zM288 192c0 17.7 14.3 32 32 32H544c17.7 0 32-14.3 32-32V64c0-17.7-14.3-32-32-32H445.3c-8.5 0-16.6-3.4-22.6-9.4L409.4 9.4c-6-6-14.1-9.4-22.6-9.4H320c-17.7 0-32 14.3-32 32V192zm0 288c0 17.7 14.3 32 32 32H544c17.7 0 32-14.3 32-32V352c0-17.7-14.3-32-32-32H445.3c-8.5 0-16.6-3.4-22.6-9.4l-13.3-13.3c-6-6-14.1-9.4-22.6-9.4H320c-17.7 0-32 14.3-32 32V480z" />
                </svg>
                &nbsp;&nbsp;{{Config.Title}}
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <div *ngIf="Config.Display!=2" class="col-5">
                    <div class="container_dnd" appDnd (fileDropped)="onFileDropped($event)" *ngIf="typeUpload==1">
                        <input type="file" #fileDropRef id="fileDropRef" [multiple]="Config.IsMultiFile"
                            (change)="fileBrowseHandler($event)" />
                        <i class="fas fa-upload fa-4x"></i>
                        <h5 class="mt-4">
                            Kéo thả ở đây
                        </h5>
                        <h5 class="mb-4">
                            hoặc
                        </h5>
                        <div class="button-select mb-0">
                            <label class="select-from-local" for="fileDropRef">
                                <i class="fas fa-file-import"></i>
                                &nbsp;&nbsp;Chọn tệp
                            </label>
                            <!-- <label class="select-from-storage" (click)="onChooseFromStorage()">
                                <i class="fas fa-cloud"></i>
                                &nbsp;&nbsp;Chọn từ kho
                            </label> -->
                        </div>
                    </div>
                    <div class="choose-file-person card-list-tree-rps" *ngIf="typeUpload==2">
                        <div class="mt-3">
                            <span class="p-3">
                                <button mat-icon-button class="ja_btn-goback" (click)="goBack()" matTooltip="Trở lại">
                                    <mat-icon>arrow_back</mat-icon>
                                </button>
                            </span>
                        </div>
                        <div class="list-items items-scrollbar p-4">
                            <div class="row" *ngFor="let element of datasourceTaiLieu">
                                <div class="col-2 button-action2  pl-4">
                                    <span class="center-text" *ngIf="Config.IsMultiFile">
                                        <mat-checkbox class="check-box" [checked]="element.IsCheck" id="{{element.Id}}"
                                            (change)="checkValue(element)"></mat-checkbox>
                                    </span>
                                    <span class="center-text" *ngIf="!Config.IsMultiFile">
                                        <mat-radio-button [checked]="element.IsCheck" class="check-box"
                                            id="{{element.Id}}"
                                            (click)="removeClass(element.Id,element)"></mat-radio-button>
                                    </span>
                                </div>
                                <div class="col-10 item2 pl-4">
                                    <ng-container>
                                        <img class="icon-item" [src]="funcdinhdang(element.FileName) | safe" alt=""
                                            width="32" height="32" />
                                    </ng-container>
                                    <span [matTooltip]="element.FileName" class="item-name center-text m-0">
                                        <a href="{{element.Link}}" target="_blank">
                                            {{element.FileName}}
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div [ngClass]="Config.Display == 2 ? 'col-12' : 'col-7'">
                    <ng-container *ngIf="Config.IsMultiFile">
                        <mat-accordion>
                            <!-- server -->
                            <mat-expansion-panel *ngIf="Config.Display != 1" class="mat-elevation-z0 expand-panel"
                                [expanded]="Config.ExpandPanel === 'Server' && !(Config.Display == 2 && FileServerListToShow.length === 0)"
                                (closed)="handlePanel()">
                                <mat-expansion-panel-header [class.disabled-pointer]="Config.Display == 2">
                                    <mat-panel-title class="mat-panel-title-bold align-items-center">
                                        <i *ngIf="Config.ExpandPanel === 'Server'" class="far fa-folder-open"></i>
                                        <svg *ngIf="Config.ExpandPanel !== 'Server'" xmlns="http://www.w3.org/2000/svg"
                                            height="16" width="16" viewBox="0 0 512 512">
                                            <path
                                                d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64H289.9L247 53.1C233.5 39.6 215.2 32 196.1 32H64zM48 96c0-8.8 7.2-16 16-16H196.1c6.4 0 12.5 2.5 17 7l45.3 45.3c7.5 7.5 17.7 11.7 28.3 11.7H448c8.8 0 16 7.2 16 16v32H48V96zm0 144H464V416c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16V240z" />
                                        </svg>
                                        &nbsp;&nbsp;
                                        Tệp đã tải lên {{FileServerListToShow.length > 0 ? '(' + FileServerListToShow.length + ')' : ''}}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="list-items items-scrollbar"
                                    [class.list-items-bg-gray]="FileServerListToShow.length === 0">
                                    <div class="row" *ngFor="let item of FileServerListToShow">
                                        <div
                                            [ngClass]="Config.Display==2 || !item.IsDelete ? 'col-12 view' : 'col-10 item p-0'">
                                            <ng-container *ngIf="item.PreviewUrl.length > 0">
                                                <!-- <img class="icon-item" [src]="item.Url | safe" alt="" width="32"
                                                    height="32" /> -->
                                                <img class="icon-item" [src]="item.PreviewUrl | safe" alt="" width="32" height="32" />
                                            </ng-container>
                                            <ng-container *ngIf="item.PreviewUrl.length === 0">
                                                <!-- <i class="fas fa-file fa-2x icon-item"></i> -->
                                                <img class="icon-item" [src]="funcdinhdang(item.FileName) | safe" alt="" width="32" height="32" />
                                            </ng-container>
                                            <span [matTooltip]="item.FileName" class="item-name m-0">
                                                <a style="color: black;" href="{{item.Url}}" target="_blank">
                                                    {{item.FileName}}
                                                    &nbsp;
                                                    <i class="fa fa-download"></i>
                                                </a>
                                            </span>
                                        </div>
                                        <div *ngIf="Config.Display !=2 && item.IsDelete" class="col-2 button-action">
                                            <button class="btn"
                                                [ngClass]="item.LocalDelete ? 'btn-outline-warning' : 'btn-outline-danger'"
                                                (click)="item.LocalDelete ? undoDeleteFileServer(item.Id) : deleteFileServer(item.Id)">
                                                <i class="fas p-0"
                                                    [ngClass]="item.LocalDelete ? 'fa-rotate-left' : 'fa-trash color_delete'">
                                                </i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row h-100" *ngIf="FileServerListToShow.length === 0">
                                        <div class="col-12 h-100 d-flex justify-content-center align-items-center">
                                            <span class="empty-local-file">
                                                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18"
                                                    viewBox="0 0 576 512">
                                                    <path
                                                        d="M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384v38.6C310.1 219.5 256 287.4 256 368c0 59.1 29.1 111.3 73.7 143.3c-3.2 .5-6.4 .7-9.7 .7H64c-35.3 0-64-28.7-64-64V64zm384 64H256V0L384 128zm48 96a144 144 0 1 1 0 288 144 144 0 1 1 0-288zm0 240a24 24 0 1 0 0-48 24 24 0 1 0 0 48zm0-192c-8.8 0-16 7.2-16 16v80c0 8.8 7.2 16 16 16s16-7.2 16-16V288c0-8.8-7.2-16-16-16z" />
                                                </svg>
                                                Không có tệp nào được tải lên
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                            <!-- local -->
                            <mat-expansion-panel *ngIf="Config.Display !=2"
                                [ngStyle]="{'height': Config.Display == 1 ? '398px' : ''}"
                                class="mat-elevation-z0 expand-panel" [expanded]="Config.ExpandPanel === 'Local'"
                                (closed)="handlePanel()">
                                <mat-expansion-panel-header [class.disabled-pointer]="Config.Display == 1">
                                    <mat-panel-title class="mat-panel-title-bold align-items-center">
                                        <i *ngIf="Config.ExpandPanel === 'Local'" class="far fa-folder-open"></i>
                                        <svg *ngIf="Config.ExpandPanel !== 'Local'" xmlns="http://www.w3.org/2000/svg"
                                            height="16" width="16" viewBox="0 0 512 512">
                                            <path
                                                d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64H289.9L247 53.1C233.5 39.6 215.2 32 196.1 32H64zM48 96c0-8.8 7.2-16 16-16H196.1c6.4 0 12.5 2.5 17 7l45.3 45.3c7.5 7.5 17.7 11.7 28.3 11.7H448c8.8 0 16 7.2 16 16v32H48V96zm0 144H464V416c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16V240z" />
                                        </svg>
                                        &nbsp;&nbsp;
                                        Tệp đã chọn {{FileLocalList.length > 0 ? '(' + FileLocalList.length + ')' : ''}}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="list-items items-scrollbar"
                                    [class.list-items-bg-gray]="FileLocalList.length === 0 && DSFileLoad.length === 0">
                                    <div class="row" *ngFor="let item of FileLocalList">
                                        <div class="col-10 item p-0">
                                            <ng-container *ngIf="item.PreviewUrl.length > 0">
                                                <img class="icon-item" [src]="item.PreviewUrl | safe" alt="" width="32"
                                                    height="32" />
                                            </ng-container>
                                            <ng-container *ngIf="item.PreviewUrl.length === 0">
                                                <i class="fas fa-file fa-2x icon-item"></i>
                                            </ng-container>
                                            <span [matTooltip]="item.FileName" class="item-name m-0"
                                                [class.deleted]="item.LocalDelete">{{item.FileName}}
                                            </span>
                                        </div>
                                        <div class="col-2 button-action">
                                            <button class="btn"
                                                [ngClass]="item.LocalDelete ? 'btn-outline-warning' : 'btn-outline-danger'"
                                                (click)="item.LocalDelete ? undoDeleteFileLocal(item.Id) : deleteFileLocal(item.Id)">
                                                <i class="fas p-0"
                                                    [ngClass]="item.LocalDelete ? 'fa-rotate-left' : 'fa-trash color_delete'">
                                                </i>
                                            </button>
                                        </div>
                                    </div>

                                    <!-- Load file tu kho luu tru -->
                                    <div class="row" *ngFor="let item of DSFileLoad">
                                        <div class="col-10 item p-0">
                                            <ng-container>
                                                <img class="icon-item" [src]="funcdinhdang(item.filename) | safe" alt=""
                                                    width="32" height="32" />
                                            </ng-container>
                                            <span [matTooltip]="item.filename" class="item-name m-0">{{item.filename}}
                                            </span>
                                        </div>
                                        <div class="col-2 button-action">
                                            <button class="btn" [ngClass]="'btn-outline-danger'"
                                                (click)="deleteFileTuKhoLuuTruLocal(item.id)">
                                                <i class="fas p-0" [ngClass]="'fa-trash color_delete'">
                                                </i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="row h-100" *ngIf="FileLocalList.length === 0&&DSFileLoad.length===0">
                                        <div class="col-12 h-100 d-flex justify-content-center align-items-center">
                                            <span class="empty-local-file">
                                                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18"
                                                    viewBox="0 0 576 512">
                                                    <path
                                                        d="M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384v38.6C310.1 219.5 256 287.4 256 368c0 59.1 29.1 111.3 73.7 143.3c-3.2 .5-6.4 .7-9.7 .7H64c-35.3 0-64-28.7-64-64V64zm384 64H256V0L384 128zm48 96a144 144 0 1 1 0 288 144 144 0 1 1 0-288zm0 240a24 24 0 1 0 0-48 24 24 0 1 0 0 48zm0-192c-8.8 0-16 7.2-16 16v80c0 8.8 7.2 16 16 16s16-7.2 16-16V288c0-8.8-7.2-16-16-16z" />
                                                </svg>
                                                Vui lòng chọn tệp
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </ng-container>


                    <ng-container *ngIf="!Config.IsMultiFile">
                        <mat-accordion>
                            <!-- server -->
                            <mat-expansion-panel *ngIf="Config.Display !=1 " class="mat-elevation-z0 expand-panel"
                                [expanded]="Config.ExpandPanel === 'Server'" (closed)="handlePanel()">
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="mat-panel-title-bold align-items-center">
                                        <i *ngIf="Config.ExpandPanel === 'Server'" class="far fa-folder-open"></i>
                                        <svg *ngIf="Config.ExpandPanel !== 'Server'" xmlns="http://www.w3.org/2000/svg"
                                            height="16" width="16" viewBox="0 0 512 512">
                                            <path
                                                d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64H289.9L247 53.1C233.5 39.6 215.2 32 196.1 32H64zM48 96c0-8.8 7.2-16 16-16H196.1c6.4 0 12.5 2.5 17 7l45.3 45.3c7.5 7.5 17.7 11.7 28.3 11.7H448c8.8 0 16 7.2 16 16v32H48V96zm0 144H464V416c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16V240z" />
                                        </svg>
                                        &nbsp;&nbsp;Tệp đính kèm
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="list-items items-scrollbar"
                                    [class.list-items-bg-gray]="FileServerListToShow.length === 0">
                                    <div class="row" *ngFor="let item of FileServerListToShow">

                                        <div
                                            [ngClass]="Config.Display==2||!item.IsDelete? 'col-12 view' :'col-10 item p-0'">
                                            <ng-container *ngIf="item.Url.length > 0">
                                                <!-- <img class="icon-item" [src]="item.Url | safe" alt="" width="32"
                                                    height="32" /> -->
                                                <img class="icon-item" [src]="item.PreviewUrl | safe" alt="" width="32"
                                                    height="32" />
                                            </ng-container>
                                            <ng-container *ngIf="item.PreviewUrl.length === 0">
                                                <i class="fas fa-file fa-2x icon-item"></i>
                                            </ng-container>
                                            <span [matTooltip]="item.FileName" class="item-name m-0">
                                                <a style="color: black;" href="{{item.TypeUpload==1?item.Url:item.Url}}"
                                                    target="_blank">{{item.FileName}} &nbsp; <i
                                                        class="fa fa-download"></i></a>

                                            </span>
                                        </div>
                                        <div *ngIf="Config.Display!=2&&item.IsDelete" class="col-2 button-action">
                                            <button class="btn"
                                                [ngClass]="item.LocalDelete ? 'btn-outline-warning' : 'btn-outline-danger'"
                                                (click)="item.LocalDelete ? undoDeleteFileServer(item.Id) : deleteFileServer(item.Id)">
                                                <i class="fas p-0"
                                                    [ngClass]="item.LocalDelete ? 'fa-rotate-left' : 'fa-trash color_delete'">
                                                </i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row h-100" *ngIf="FileServerListToShow.length === 0">
                                        <div class="col-12 h-100 d-flex justify-content-center align-items-center">
                                            <span class="empty-local-file">
                                                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18"
                                                    viewBox="0 0 576 512">
                                                    <path
                                                        d="M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384v38.6C310.1 219.5 256 287.4 256 368c0 59.1 29.1 111.3 73.7 143.3c-3.2 .5-6.4 .7-9.7 .7H64c-35.3 0-64-28.7-64-64V64zm384 64H256V0L384 128zm48 96a144 144 0 1 1 0 288 144 144 0 1 1 0-288zm0 240a24 24 0 1 0 0-48 24 24 0 1 0 0 48zm0-192c-8.8 0-16 7.2-16 16v80c0 8.8 7.2 16 16 16s16-7.2 16-16V288c0-8.8-7.2-16-16-16z" />
                                                </svg>
                                                Không có tệp nào được tải lên
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                            <!-- local -->
                            <mat-expansion-panel *ngIf="Config.Display != 2"
                                [ngStyle]="{'height': Config.Display == 1 ? '398px' : ''}"
                                class="mat-elevation-z0 expand-panel" [expanded]="Config.ExpandPanel === 'Local'"
                                (closed)="handlePanel()">
                                <mat-expansion-panel-header [class.disabled-pointer]="Config.Display == 1">
                                    <mat-panel-title class="mat-panel-title-bold align-items-center">
                                        <i *ngIf="Config.ExpandPanel === 'Local'" class="far fa-folder-open"></i>
                                        <svg *ngIf="Config.ExpandPanel !== 'Local'" xmlns="http://www.w3.org/2000/svg"
                                            height="16" width="16" viewBox="0 0 512 512">
                                            <path
                                                d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64H289.9L247 53.1C233.5 39.6 215.2 32 196.1 32H64zM48 96c0-8.8 7.2-16 16-16H196.1c6.4 0 12.5 2.5 17 7l45.3 45.3c7.5 7.5 17.7 11.7 28.3 11.7H448c8.8 0 16 7.2 16 16v32H48V96zm0 144H464V416c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16V240z" />
                                        </svg>
                                        &nbsp;&nbsp;
                                        Tệp đã chọn {{FileLocalList.length > 0 ? '(' + FileLocalList.length + ')' : ''}}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="list-items items-scrollbar"
                                    [class.list-items-bg-gray]="FileLocalList.length === 0 && DSFileLoad.length === 0">
                                    <div class="row" *ngFor="let item of FileLocalList">
                                        <div class="col-10 item p-0">
                                            <ng-container *ngIf="item.PreviewUrl.length > 0">
                                                <img class="icon-item" [src]="item.PreviewUrl | safe" alt="" width="32"
                                                    height="32" />
                                            </ng-container>
                                            <ng-container *ngIf="item.PreviewUrl.length === 0">
                                                <i class="fas fa-file fa-2x icon-item"></i>
                                            </ng-container>
                                            <span [matTooltip]="item.FileName" class="item-name m-0"
                                                [class.deleted]="item.LocalDelete">{{item.FileName}}
                                            </span>
                                        </div>
                                        <div class="col-2 button-action">
                                            <button class="btn"
                                                [ngClass]="item.LocalDelete ? 'btn-outline-warning' : 'btn-outline-danger'"
                                                (click)="item.LocalDelete ? undoDeleteFileLocal(item.Id) : deleteFileLocal(item.Id)">
                                                <i class="fas p-0"
                                                    [ngClass]="item.LocalDelete ? 'fa-rotate-left' : 'fa-trash color_delete'">
                                                </i>
                                            </button>
                                        </div>
                                    </div>

                                    <!-- Load file tu kho luu tru -->
                                    <div class="row" *ngFor="let item of DSFileLoad">
                                        <div class="col-10 item p-0">
                                            <ng-container>
                                                <img class="icon-item" [src]="funcdinhdang(item.filename) | safe" alt=""
                                                    width="32" height="32" />
                                            </ng-container>
                                            <span [matTooltip]="item.filename" class="item-name m-0">{{item.filename}}
                                            </span>
                                        </div>
                                        <div class="col-2 button-action">
                                            <button class="btn" [ngClass]="'btn-outline-danger'"
                                                (click)="deleteFileTuKhoLuuTruLocal(item.id)">
                                                <i class="fas p-0" [ngClass]="'fa-trash color_delete'">
                                                </i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="row h-100"
                                        *ngIf="FileLocalList.length === 0 && DSFileLoad.length === 0">
                                        <div class="col-12 h-100 d-flex justify-content-center align-items-center">
                                            <span class="empty-local-file">
                                                <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18"
                                                    viewBox="0 0 576 512">
                                                    <path
                                                        d="M0 64C0 28.7 28.7 0 64 0H224V128c0 17.7 14.3 32 32 32H384v38.6C310.1 219.5 256 287.4 256 368c0 59.1 29.1 111.3 73.7 143.3c-3.2 .5-6.4 .7-9.7 .7H64c-35.3 0-64-28.7-64-64V64zm384 64H256V0L384 128zm48 96a144 144 0 1 1 0 288 144 144 0 1 1 0-288zm0 240a24 24 0 1 0 0-48 24 24 0 1 0 0 48zm0-192c-8.8 0-16 7.2-16 16v80c0 8.8 7.2 16 16 16s16-7.2 16-16V288c0-8.8-7.2-16-16-16z" />
                                                </svg>
                                                Vui lòng chọn tệp
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </ng-container>
                </div>
            </div>
        </div>

        <!-- <div class="card-footer">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <button mat-raised-button class="ja_btn-addnew">
                        <i class="fas fa-undo"></i>
                    </button>
                </div>
                <div class="col d-flex justify-content-center">
                    <button mat-raised-button class="ja_btn-addnew">
                        <i class="fas fa-redo"></i>
                    </button>
                </div>
                <div class="col d-flex justify-content-center">
                    <button mat-raised-button class="ja_btn-addnew">
                        <i class="fas fa-trash color_delete"></i>
                    </button>
                </div>
                <div class="col d-flex justify-content-center">
                    <button mat-raised-button class="ja_btn-addnew">
                        <i class="fas fa-upload"></i>
                    </button>
                </div>
            </div>
        </div> -->
    </div>
</div>